/* div {
    height: auto;
    width: 100%;
    border: 2px solid black;
} */

div.toolbar {
    height: 2cm;
    width: 100%;
    border: 2px solid black;
}

div.network-search {
    height: 1.5cm;
    width: 100%;
    border: 2px solid black;
}

div.invitations {
    height: 7cm;
    width: 100%;
    border: 2px solid black;
    overflow-y: scroll;
}

div.connections {
    height: 7cm;
    width: 100%;
    border: 2px solid black;
    overflow-y: scroll;
}
