.body{
    background-image: url('b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.toolbar{
    margin: 0.5%;
    height: 2cm;
    max-width: 100%;
    /* border: 2px solid black; */
}
.cl{
    list-style: none;
}
.profile{
    margin: 0.5%;
    margin-left: 8%;
    max-height: 75%;
    width: 20%;
    border: 2px solid black;
    font-size: large;
    overflow-y: scroll;
    float: left;
    border-radius: 1cm;
    box-shadow: 1px 1px 20px 2px rgb(1, 3, 18);
}

.hash-search{
   margin-top: 0.75cm;
}


.desc{
    margin: 3%;
    max-height:100%;
    max-width: 100%;
    border: 2px solid black;
    font-size: large;
}

.feed{
    margin: 0.5%;
    max-height: 100%;
    width: 40%;
    margin-left: 4%;
    /* border: 2px solid black; */
    font-size: large;
    float: left;
    /* overflow-y: scroll; */
}

.mposts{
    margin: 2%;
    height: 7cm;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 3%;
    font-size: large;
    background-color: rgb(247, 222, 188);
    box-shadow: 1px 1px 20px 2px rgb(1, 3, 18);

    padding: 1%;
}

.fposts{
    margin: 0.5%;
    height: 20cm;
    /* max-height: 100%; */
    max-width: 100%;
    /* border: 2px solid black; */
    font-size: large;
    overflow-y: scroll;
    padding-left: 2cm;
}
.fposts::-webkit-scrollbar {
    display: none;
  }
.event{
    position: relative;
    margin: 0.5%;
    max-height: 75%;
    width: 20%;
    margin-top: -2.5cm;
    /* border: 2px solid black; */
    font-size: large;
    /* overflow-y: scroll; */
    float: left;
   
    
}
.gif{
    position: relative;
    margin: 2%;
    margin-top: 4cm;
    margin-left: -8.5%;
    float: left;
    height:4cm;
    width: 25%;
    background-image: url('giphy.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 2%;
    box-shadow: 0.5px 0.5px 18px 1px rgb(1, 3, 18);
    border: 2px solid rgb(0, 0, 0);
}

.home{
    position: relative;
    overflow: hidden;
    height:100vh;
    /* border: 2px solid black; */
    background-image: url('b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}